
  <div id="main">

       <h1>About</h1>
     <nav><%= link_to "Home", root_path %>
  <%= link_to "About", welcome_about_path %>
  <%= link_to "Articles", articles_path %></nav>
 <div id="left">
    <h4>Here is a little story about us</h4>

    <p>Congratulations - you just destroyed the Falcon. Some days you get the bear, and some days the bear gets you. Now we know what they mean by 'advanced' tactical training. About four years. I got tired of hearing how young I looked. You enjoyed that. When has justice ever been as simple as a rule book?</p>
    <h4>Lucas Ipsum Dolor</h4>
    <p>Lucas ipsum dolor sit amet valorum dat solo quinlan zev mimbanite jettster r5-d4 rex tsavong. Bail endor tapani ogemite. Plo mustafarian gank natasi dengar sifo-dyas. Rieekan bail lannik rukh jagged dunhausen celegian droch yoda. Hypori kota firmus bib darth draethos pellaeon omwati. Ord sabé gotal gordin gossam zannah nute. R5-d4 deliah antilles gora maul luke porkins bibble. Kathol y'bith darpa palpatine. Darpa ree-yees kaleesh plo piell. Melodie gallia darth jeremoch tyber fisto carlist frozian muun. </p>

  </div>
  <div id="right">
    <h4>Star Wars Rocks!</h4>
    <hr>
    <%= image_tag 'sw1.jpg' %>
    <%= image_tag 'sw2.pmg.jpg' %>

  </div>

<footer>&copy 2016 BadgerTex.com</footer>
</div>

